header {
    background-color: brown;
    color: blanchedalmond;
    text-align: center;
}

main {
    background-color: grey;
    padding: 1em;
}

body {
    background-image: url(record.png);
    background-repeat: round;
    margin: 0;
}